# Environment
omniscience
venv/
env/
.venv/

# Docker
.dockerignore

# Env file
.env

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Distribution / packaging
.python
build/
lib/
dist/

# Byte compiled
*.pyc
__pycache__/

# Media and Static
Static_collected/
media/
static/

# IDE and OS specifiic files
.idea/
.vscode/
.DS_Store/