{% extends 'main.html' %}
{% load static %}



{% block content %}

<main>
    <section>
        <span>
            <a href="{% url 'courses:home' %}">&laquo; Back to HOME</a>
        </span>
        <div class="container">
            
            <div class="row">
                <span class="col"><h3>{{course.title}}</h3></span>
                <h6 class="col justify-content-end">
                    Average Rating: {{course.average_rating|floatformat:1}} / 5.0
                    <small class="text-muted"> ({{reviews.count}} reviews) </small>
                </h6>
            </div>

            <div class="course_info">
                {% if course.thumbnail %}
                <img src="{{course.thumbnail.url}}" alt="{{course.title}}Thumbnail">
                {% else %}
                <img src="https://via.placeholder.com/250x180?text=No+Image" alt="No Thumbnail">
                {% endif %}

                <div class="course_info_text">
                    <p>{{course.description|safe}}</p>
                    <div class="course_meta">
                        <span>Category: {{course.category.Name|default:"N/A"}}</span>
                        <span>Instructor: {{course.instructor.get_fullname|default:course.instructor.username}}</span>
                        <span>Price: {% if course.price > 0%}RS-{{course.price}}
                                    {% else %}Free{% endif %}
                        </span>
                        <span>Created: {{course.created_at|date:"M d,Y"}}</span>
                    </div>
                </div>
            </div>
            {% if request.user.is_authenticated and request.user.is_student %}
                {% if is_enrolled %}
                <div class="row justify-content-between">
                    <p class="col">
                        <strong>You are already_enrolled in this COURSE!!!!!!.</strong>
                    </p>
                    <span class="col">
                        <a href="{% url 'discussion:post_list' course.slug %}" class="d-block">
                            Go to Course Discussion
                        </a>
                    </span>
                </div>
                
                {% else %}
                <form action="{% url 'enrollment:enroll_course' course.slug %}" method="post">{% csrf_token %}
                    <button type="submit" class="enroll_btn" >Enroll Now</button>
                </form>
                {% endif %}

                {% if is_enrolled and not user_review %}
                    <div class="card mt-4">
                        <div class="card-header">
                            <h5>Write a Review</h5>
                        </div>
                        <div class="card-body">
                            <form action="" method="post"> {% csrf_token %} 
                                {{review_form.as_p}}
                                <button type="submit" class="btn btn-primary w-50">Submit Review</button>
                            </form>
                        </div>
                    </div>

                {% elif user_review %}
                    <div class="alert alert-info">
                        <p class="text-center">You have already reviewed this course.</p>
                    </div>
                
                {% endif %}

            {% elif request.user.is_authenticated and request.user.is_instuctor %}
                <div class="already_enrolled">Instructor cannot enroll.</div>

            {% elif not request.user.is_authenticated %}
                <p>Please
                    <a href="{% url 'users:login' %}">login</a>as a student to enroll.
                </p>
            {% endif %}

            <h3>Course Content</h3>

            {% if course.instructor == request.user %}

                {% include "partials/instructor_course_management.html" %}

            {% else %}

                {% for module in modules %}
                    
                    <h4 class="text-center text-muted">module {{module.order}}: {{module.title}}</h4>
                    
                    <strong class="text-muted">Module Description : </strong>
                    {{module.description|safe}}
                    

                    {% if module.lesson.all %}
                        <h4 class="text-muted">Lessons: </h4>
                        <ul>
                            {% for lesson in module.lesson.all %}
                                <li class="list-group list-group-item list-group-item-action">
                                    <a href="{% url 'courses:lesson_details' course.slug module.slug lesson.slug %}">
                                        {{lesson.order}}, {{lesson.title}} 
                                        ({{lesson.get_content_type_display}})
                                    </a>

                                    {% if lesson.content_type == 'quiz' %}
                                        (Quiz)
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% empty %}
                    <p>No lessons in this Module yet.</p>
                {% endfor %}

            {% endif %}
        </div>
    </section>
<hr>
    <section>
        <hr class="my-4">
        <h3>Student Reviews</h3>
        {% for review in reviews %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"> {{review.student.username}} </h5>
                    <h6 class="card-subtitle mb-2 text-muted"> Rating: {{review.rating}} out of 5 </h6>
                    <p class="card-text"> {{review.comment|linebreaksbr}} </p>
                    <small class="text-muted"> Reviewed on {{review.created_at|date:"d M, Y"}} </small>
                </div>
            </div>
        {% empty %}
            <p>This course has no reviews yet.</p>
        {% endfor %}
    </section>
</main>

{% endblock content %}