{% extends 'main.html' %}
{% load static %}
{% block content %}

<main>
    <section>
        <div class="container mt-4">
            <h3>{{lesson.title}}</h3>
            <p class="text-muted"> Module: {{lesson.module.title}} | Course: {{lesson.module.course.title}} </p>
            <hr>

            <div class="card mb-3">
                <div class="card-header">
                    File Resources
                </div>
                {% if lesson.file_upload %}
                    <div class="card-body">
                        <a href="{{lesson.file_upload.url}}" target="_blank">View / Download Attachment</a>
                    </div>

                {% else %}
                        <p class="text-muted">Not available yet.</p>
                    
                {% endif %}

            </div>

            <div class="card mb-2">  
                <div class="card-header">
                    Video
                </div>
                {% if lesson.video %}
                    <div class="video-container mb-3" id="videoField">
                        <video controls width="100%">
                            <source src="{{lesson.video.url}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>

                {% else %}
                    <p class="text-muted">Not available yet.</p>

                {% endif %}
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    Video_url
                </div>
                {% if lesson.video_url %}
                    <div class="card-body mb-3">
                        {{lesson.video_url|safe}}
                    </div>

                {% else %}
                    <p class="text-muted">Not available yet.</p>
                
                {% endif %}

            </div>
            
            <div class="card mb-2">
                <div class="card-header">
                    Text Content
                </div>
                {% if lesson.text_content %}
                    <div class="card-body mb-3">

                        <div class="mx-auto">
                            {{lesson.text_content|safe}}
                        </div>
                        
                    </div>

                {% else %}
                    <p class="text-muted">Not available yet.</p>

                {% endif %}

            </div>
            
        </div>  
    </section>
    
    <section>

        <div class="nav_links row text-center">
            {% if previous_lesson %}
            <span class="col">
                <a href="{% url 'courses:lesson_details' course.slug module.slug previous_lesson.slug %}">
                    &larr; Previous Lesson</a>
            </span>
            {% endif %}

            {% if next_lesson %}
            <span class="col">
                <a href="{% url 'courses:lesson_details' course.slug module.slug next_lesson.slug %}">
                    &larr; next Lesson</a>
            </span>
            {% endif %}
        </div><hr>

        <div class="mark_complete_section">
            {% if lesson_completion.is_completed %}
                <div class="completed_message">
                    Lesson Completed! ({{lesson_completion.completed_at|date:"M d, Y H:i"}})
                </div>
            {% else %}

                <form action="{% url 'courses:mark_lesson_complete' course.slug module.slug lesson.slug %}" 
                method="post" class="mark_complete_form">{% csrf_token %}
                    <button type="submit" class="mark_complete_button">Mark-as-complete</button>
                </form>
            {% endif %}
        </div>

    </section>

    <section>
        <div class="container mt-4">
            {% if lesson.quiz and lesson.quiz.is_published %}
                <div class="card my-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Quiz : {{lesson.quiz.title}}
                        </h5>
                        <p class="card-text">
                            {{lesson.quiz.description}}
                        </p>

                        <form action="{% url 'quiz:quiz_start' lesson.quiz.id %}" method="post"> {% csrf_token %}
                            <button type="submit" class="btn btn-success">Start Quiz</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </section><br>

    <section>
        {% if comments %}
            <div class="container">
                <h4>Comments</h4>
                <div class="list-group">
                    {% for c in comments %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">
                                    {{c.author.username}}
                                </h6>
                                <small class="text-muted">
                                    {{c.created_at|date:"F j, Y"}}
                                </small>
                            </div>
                            <p class="mb-1">{{c.content}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div><br>
        {% endif %}

        <div class="container">
            <h4>Leave a Comment</h4>
            <form action="" method="post" class="list-group"> {% csrf_token %}
                {% for i in form %}
                    {{i}}
                {% endfor %}
                <button type="submit" class="btn btn-primary mt-2">Submit Comment</button>
            </form>
        </div>
    </section>
</main>

{% endblock content %}