{% extends 'main.html' %}
{% load static %}

{% block title %}
    {{page_title}}
{% endblock title %}

{% block content %}

<section class="container mt-4">
    <h3> {% if object %}Edit Lesson{% else %}Create Lesson{% endif %} in {{module.title}} </h3>

    <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        {{form.media}}

        <div class="mb-3">
            {{form.title.label_tag}} {{form.title}}
        </div>

        <div class="mb-3">
            {{form.content_type.label_tag}} {{form.content_type}}
        </div>

        <div class="mb-3" id="video-url-field">
            {{form.video_url.label_tag}} {{form.video_url}}
        </div>

        <div class="mb-3" id="text-content-field">
            {{form.text_content.label_tag}} {{form.text_content}}
        </div>

        <div class="mb-3" id="video-field">
            {{form.video.label_tag}} {{form.video}}
        </div>

        <hr>
        <div class="mb-3">
            {{form.file_upload.label_tag}} {{form.file_upload}}
        </div>

        <div class="mb-3">
            {{form.is_published.label_tag}} {{form.is_published}}
        </div>

        <div class="mb-3">
            {{form.order.label_tag}} {{form.order}}
        </div>

        <button type="submit" class="btn btn-primary">Save Lesson</button>
    </form>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const contentTypeSelect = document.getElementById('id_content_type');
        const textField = document.getElementById('text-content-field');
        const videourlField = document.getElementById('video-url-field');
        const videoField = document.getElementById('video-field');

        function toggleFields() {
            if (contentTypeSelect.value === 'text') {
                textField.style.display = 'block';
                videourlField.style.display = 'none';
                videoField.style.display = 'none';
            } else if (contentTypeSelect.value === 'video') {
                textField.style.display = 'none';
                videourlField.style.display = 'none';
                videoField.style.display = 'block';
            } else if (contentTypeSelect.value === 'video_url') {
                textField.style.display = 'none';
                videourlField.style.display = 'block';
                videoField.style.display = 'none';
            } else { // For others
                textField.style.display = 'none';
                videourlField.style.display = 'none';
                videoField.style.display = 'none';
            }
        }

        // Initial check
        toggleFields();

        //Add Event listener
        contentTypeSelect.addEventListener('change', toggleFields);
    });
</script>

{% endblock content %}